body {
    background-color: #5081ed;
    font-family: 'Poppins', sans-serif;
}

.header {
    text-decoration: none;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: 52px;
    text-align: center;
    width: 100%;
    left: -1px;
    top: -1px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border-bottom:1px solid white;
    
}
.headerItem {
    position: absolute;
    width: 300px;
    height: 31.35px;
    top: 9.4px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;


    
}
.bi-bi-globe-europe-africa {
    padding-right: 30px;
    padding-left: 30px;
}
.header a{
    text-decoration: none;
    color: white;
}
.name, .contact, .covid {
    height: 52px;
    color: white;
    
}
a {
    font-style: none;
}
.contact {
    padding-right: 300px;
}
.covid {
    margin-left: 10px;
    padding-right: 350px;
}




.siteHeader {
    padding-top: 120px;
    margin-left: 300px;
    margin-right: 100px;
    font-size: 120px;
    line-height: 120px;
    font-weight: bold;
    height: 360px;
    width: 859px;
    border-radius: 0;
    text-shadow: 1px 1px 2px black;
    
}

.cloud1 {
    z-index: -1;
    position: absolute;
    width:100%;
    left: 0px;
    top: -750px;
}
.pigeon {
    height: 243px;
    width: 163px;
    right: 1041px;
    top: 581px;
    border-radius: 0px;
    position: absolute;

}
.cookiesAcception {
    height: 42px;
    width: 437px;
    top: 900px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding-left: 341px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 437px;
    height: 68px;
    margin-left: 379px;
    border-radius: 20px;
}
.cookiesAccept {
    position: absolute;
    width: 437px;
    height: 42px;
    left: 481px;
    top: 680px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}
.cookiesAcceptButton {
    background:none;
    border: 0;
    position: absolute;
    width: 85px;
    height: 68px;
    left: 1000px;
    top: 679px;
    border-left: 3px white solid;
    padding-left: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 14px;
}
.cookiesAcceptButton:hover {
    text-shadow: 1px 1px 2px blue;
    font-size: medium;
    cursor: pointer;
}





.work h2 {
    position: absolute;
    width: 100vh;
    height: 30px;
    left: 625px;
    top: 1000px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: white;
}
.principes {
    display: flex;
    justify-content: space-around;
    padding-top:600px;
    border-bottom: 1px solid white;
    padding-bottom: 273px;
}
.principe {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    height: 200px;
    width: 185px;
    left: 637px;
    padding-top: 17px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
}
svg {
    height: 33px;
    width: 35px;
    border-radius: 0px;
}



.quality {
    margin-top: 35px;
    display: flex;
    color: white;
}
.quality h3{
    position: absolute;
    width: 247px;
    height: 14px;
    left: 133px;
    top: 1900px;
    font-style: bolder;
    font-weight: 400;
    font-size: 40px;
    
}
.quality p {
    margin-top: 150px;
    height: 90px;
    width: 566px;
    margin-left: 106px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
}
.quality img {
    height: 559px;
    width: 861px;
    left: 563px;
    top: 1711px;
    border-radius: 0px;
}
.touch {
    color: white;
}
.touch img {
    position: absolute;
    width: 1100px;
    height: 700px;
    left: -400px;
    top: 2338px;
    transform: matrix(-0.98, -0.19, -0.19, 0.98, 0, 0);
}
.touch h3{
    position: absolute;
    width: 360px;
    height: 14px;
    left: 1002px;
    top: 2631px;
    font-style: bolder;
    font-weight: 400;
    font-size: 40px;
    line-height: 14px;
}
.touch p {
    position: absolute;
    width: 449px;
    height: 90px;
    left: 876px;
    top: 2700px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    text-align: right;
}
.approach {
    color: white;
    border-bottom: 1px solid white; 
    
}
.approach h3 {
    position: absolute;
    width: 600px;
    height: 14px;
    left: 133px;
    top: 3300px;
    font-style: bolder;
    font-weight: 400;
    font-size: 40px;
}
.approach p{
    position: absolute;
    width: 449px;
    height: 90px;
    margin-left: 106px;
    top: 3400px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    text-align: left;
}
.approach img {
    width: 570px;
    height: 855px;
    margin-left: 926px;
    margin-top: 400px;
    padding-bottom: 0px;
}




.experience {
    display: flex;
    margin-top: 250px;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 100px;
    border-radius: 30px;
    
}
.experience a {
    color: white;
    text-decoration: none;
}

.experience h2 {
    position: absolute;
    width: 100vh;
    height: 30px;
    text-align: center;
    top: 3760px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: white;
}
.sls img:hover, .streaming img:hover {
    height: 305px;
    width: 332px;
}
.sls img {
    height: 295px;
    width: 322px;
}

.learnAbout img {
    height: 356px;
    width: 382px;
    border-radius: 0px;
    margin-left: 50px;
    margin-right: 50px;
}
.streaming img {
    height: 295px;
    width: 322px;
    border-radius: 0px;
}






.lastPage {
    display: flex;
    justify-content: center;
}
.lastPage h3 {
    width: 623px;
    height: 83px;
    top: 5666px;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 120px;
}
input {
    height: 47px;
    width: 622px;
    top: 5773px;
    border-radius: 20px;
    display: flex;
    margin-bottom: 23px;
}
.sendButton {
    box-sizing: border-box;
    position: absolute;
    width: 622px;
    height: 47px;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 20px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 300px;
}
.end {
    position: absolute;
    margin-top: 150px;
    width: 100%;
    height: 140px;
    left: 0;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
}
.terms {
    color: white;
    padding-left: 136px;
    align-items: baseline;
    display: flex;
   
}
.terms h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    margin-right: 25px;
    
}
.rights p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: white;
    padding-left: 136px;
}
.icons {
    position: absolute;
    width: 162px;
    height: 23.61px;
    left: 1142px;
    top: 59px;
    display: flex;
    justify-content: space-between;
}
.icons svg {
    color: white;
    height: 23px;
    width: 25px;
    
}